.single {
    padding: 2px 5px;
    background: #f8f3ef;
    display: block;
    margin: 20px 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: .3s;
    height: 180px;
    width: 150px;
}
  .single:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.4,1.4);
  }

  .gridContainer {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .btn {
    display: block;
    width: 82px;
    margin: 23px auto;
    background: #4979ff;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: large;
    margin-inline: 10px;
    cursor: pointer;
  }

  .btnDisable {
    display: block;
    width: 82px;
    margin: 23px auto;
    background: #4979ff;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: large;
    margin-inline: 10px;
    cursor: pointer;
    opacity: 0.5;
    cursor: not-allowed;
  }

  .spin {
    display: block;
    width: 40px;
    height: 40px;
    margin: 250px auto;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #ff8800;
    animation: spin 1s ease infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotateZ(360deg);
    }
  }